.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(225, 211, 211);

}

.weather {
  width: 35rem;
  height: 28rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-around;
}

.weather_location {
  font-size: 2rem;
  font-weight: 500;
}

.weather_degrees {
  font-size: 2rem;
  font-weight: 300;
}

.weather_description {
  display: flex;
  align-items: center;
}

.weather_description_head {
  display: flex;
  align-items: center;
}

.weather_icon {
  font-size: 1rem;
  margin-left: 2rem;
}

.weather_description * h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-left: 1.2rem;
  margin-top: 1rem;
}

.weather_country {
  height: 100%;
  padding-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1rem;
}

.weather_display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
  height: 17rem;
}